@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Playfair+Display&display=swap");

.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  align-items: flex-start;
}

button {
  font-size: 1rem;
}

body {
  background: #e8e9ff;
  font-family: "Playfair Display", serif;
  overflow-y: scroll;
}
